PORT=4000
MONGODB_URI='mongodb+srv://username:password@studentrecords.o1opu8e.mongodb.net/?retryWrites=true&w=majority&appName=StudentRecords'
MONGODB_DB_NAME=ecommerce_db
FRONTEND_ORIGIN=http://localhost:5173
